.App {
  text-align: left;
  background-color: #444444;
  /* height: window.height; */
  min-width: 100vh;
  min-height: 100vh;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 120px;
  /* position: fixed; */

}

.App-header {
  background-color: #333333;
  height: 120px;
  /* display: flex; */
  /* padding: 20px; */
  color: white;
  /* position: sticky; */
  min-width: 100vh;
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */

  /* position: fixed; */
  z-index: 2;
}

.App-title {
    /* flex: 1; */
    padding: 10px;
  font-size: 30;
  text-align: left;

  /* left: 120px;
  position: fixed; */
}

.App-nav {
    padding: 10px;
    width: 100px;
    color: white;
    text-align: left;
    background: #333333;
    position: fixed;
    /* left: 0; */
    height: 100%;
/*
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
    /* overflow:hidden */

    /* top: 120px; */
    /* position: webkit-asdfasdfsticky; */
    /* position: fixed; */
}
a:link {
    color: hotpink;
    text-decoration: none;
}
a:visited {
    color: hotpink;
    text-decoration: none;
}
a:hover {
    color: pink;
    text-decoration: none;
}

hr{
    border: 1px solid #333333;
}

pre{
    text-align: left;
    white-space: pre-wrap;

    color: purple;
    background: white;
}



.App-body {
    min-height: 100;
    z-index: 1;
    /* top: 120px; */
    /* position: static; */
}

.App-content {
    margin: 0px;
    padding: 10px;
    text-align: left;
    color: white;
    width: 750px;
    left: 120px;
    position: relative;
    /* overflow: visible; */


        /* overflow-y:scroll;  */
    /* top: 0; */
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
